<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Idea's:</h1>
            <div class="col-sm-12" ng-repeat="itemBlog in blogsItem">
                <!--<h4>{{userName}}</h4>-->
                <div class=""><h3>{{itemBlog.name}}</h3> <p>{{itemBlog.comment}}</p><button type="button" class="close" ng-click="editData(itemBlog)">Edit</button><button type="button" class="close" ng-click="deleteItem(itemBlog)">Delete</button></div>
            </div>
        </div>
    </div>

    <form class="thing-form" ng-show="!editPost">
        <label>Think Better & Share With People</label>
        <p class="input-group">
            <input type="text" class="form-control" placeholder="Enter Your Name" ng-model="name">
            <textarea type="text" class="form-control" placeholder="Share your idea's with people" ng-model="comment"></textarea>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-success" ng-click="addThing(itemBlog)">Add New</button>
      </span>
        </p>
    </form>
    <form class="thing-form" ng-show="editPost">
        <label>Change if something went to wrong</label>
        <p class="input-group">
            <input type="text" class="form-control" ng-model="itemBlog.name">
            <textarea type="text" class="form-control" ng-model="itemBlog.comment"></textarea>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-info" ng-click="updatePost(itemBlog)">Update</button>
      </span>
        </p>
    </form>
</div>

